.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-bottom: 0px;
}

body {
  display: flex;
  align-items: center;
}

img {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
