<div class="jumbotron" style="padding-left: 100px; padding-right: 100px">
  <h1>Team Page</h1>
  <hr>
  <h3>Challenges</h3>

  {{#bs-accordion as |acc|}}
    {{#each model.challenges as |challenge|}}
      {{log challenge}}
      {{#acc.item title=challenge.challenge.name }}
        {{challenge.challenge.description}}
        <hr>
        {{#bs-button type="success" onClick=(action send "verify")}}Verify Challenge{{/bs-button}}
      {{/acc.item}}
    {{/each}}
  {{/bs-accordion}}

</div>
{{log model}}