<div class="jumbotron text-center">
  <h1>Introducing Accountable</h1>
  {{ svg/accountable-logo }}
  <h2>Keeping you to your word... or else!</h2>

  <br/>

  <h4><i>Don't miss our launch date, request an invitation now.</i></h4>


</div>