<br>
{{player-profile-header user=model}}
<hr>
{{!-- {{calendar-heatmap}} --}}
{{!-- {{player-profile-graph}} --}}
<div class="text-center">{{model.user.username}} has had 6 good weeks and 1 bad week.</div>